# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
#1

Numbers=[1,2,3,4,5,6,7,8,9,10]
print(Numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
print(Numbers[0])
print(Numbers[9])
print(Numbers[5])

1
10
6

In [15]:
print(Numbers[:3])
print(Numbers[-3:])
print(Numbers[2:5])

[1, 2, 3]
[8, 9, 10]
[3, 4, 5]

In [17]:
matrix=(
    (1,2,3),
    (4,5,6),
    (6,7,8)
)
print(matrix)
for row in matrix:
    print(row)
print(f"Element at 2nd row and 3rd colum is {matrix[1][2]}")

((1, 2, 3), (4, 5, 6), (6, 7, 8))
(1, 2, 3)
(4, 5, 6)
(6, 7, 8)
Element at 2nd row and 3rd colum is 6

In [18]:
tpl1=(1,2,3)
tpl2=(4,5,6)
concat_tpl=tpl1+tpl2
print(concat_tpl)

(1, 2, 3, 4, 5, 6)

In [19]:
tpl=("hello",1,3.14,True,10)
a,b,c,d,e=tpl

In [20]:
print(a,b,c,d,e)

hello 1 3.14 True 10

In [25]:
num=1,2,3,4,5
tpl=tuple(num)
print(tpl)

(1, 2, 3, 4, 5)

In [28]:
tpl=((1,2,3),(4,5,6),(7,8,9))
print(tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [31]:
tpl=(1,2,3,4,5)
tpl=list(tpl)#Converting to list
tpl.append(6)#Appending 6
tpl=tuple(tpl)#Converting to tuple again
print(tpl)

(1, 2, 3, 4, 5, 6)

In [34]:
tpl_dict={(1,2):3,(4,5):6,(7,8):9}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [35]:
nest_tpl=((1,2,3),(4,5,6),(7,8,9))
for tpl in nest_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

In [37]:
tuplepr=(1,2,22,3,3,4,5,6,6,6,6,7,8,9)
uniq_tpl=set(tuplepr)
print(uniq_tpl)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 22}