Conditional statements

In [ ]:
age=int(input("enter an age"))
if age>=18:
    print("Youre allowed to vote")
else:
    print("Youre not")

Youre not

In [4]:
year = int(input(("enter a year")))
if (year%4==0 & year%100==0)or (year%400==0):
    print("the given year is leap year")
else:
    print("its not leap year")

its not leap year

In [22]:
num = float(input("enter a number"))
num1 = float(input("enter another number"))
operation = input("enter an operation(+,-,*,/):")

if operation == '+':
    result = num+num1
elif operation == '-':
    result = num-num1
elif operation == '*':
    result = num*num1
elif operation == '/':
    if num1%2!=0:
        result= num/num1
    else:
        print("Non divisible")
else:
    print("enter a valid operation")
print("Result =",result)

ValueError: could not convert string to float: ''

In [23]:
for i in range(10):
    if i ==5:
        break
    print(i)

0
1
2
3
4

In [29]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [35]:
for i in range(5):
    if i==3:
        print("THe number is",i)
        pass
    print(i)

0
1
2
THe number is 3
3
4

NESTED LOOP

In [36]:
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [ ]:
items = ['potatoes','chicken']
stuffs = ['shoes','clothes']
for i in items:
    print(i)
    for s in stuffs:
        print(s)

potatoes
shoes
clothes
chicken
shoes
clothes

In [ ]:
n=10
sum = 0
count = 1 

while count <=n:
    sum+=count
    count+=1

print("Sum of first 10 natural numbers:",sum)

Sum of first 10 natural numbers: 55

In [ ]:
for num in range(1,101) :
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97