### python Example

In [2]:
print("Hello World")

Hello World

### Variable

In [7]:
name="aayush"
name="pant"

print(name)
print(name)

pant
pant

In [1]:
a=100

In [4]:
height=5.11

type(height)

float

In [8]:
str(float(height))

'5.11'

In [3]:
## Dynamic typing

var =10 
print(var,type(var))

var = "Hi"
print(var,type(var))

var=1.2
print(var,type(var))

10 <class 'int'>
Hi <class 'str'>
1.2 <class 'float'>

In [7]:
age = int(input("what is your age?"))
print(age,type(age))

20 <class 'int'>

In [12]:
##Calculator

num1 = float(input("Enter a number"))
num2 = float(input("Enter another number"))

sum = num1 + num2 
difference = num1 - num2
product = num1 * num2 
division = num1/num2

print("Sum=",sum)
print("Difference=",difference)
print("Product=",product)
print("Division=",division)

Sum= 5.0
Difference= -1.0
Product= 6.0
Division= 0.6666666666666666